.DS_Store
hybris4intellij.properties
build.xml
extensioninfo.xsd
platformhome.properties
items.xsd
beans.xsd
*-testclasses.xml
*-webtestclasses.xml
*.iml
wro_addons.xml

core-customize/hybris/bin/*
!core-customize/hybris/bin/custom/
core-customize/hybris/log/
core-customize/hybris/roles/
core-customize/hybris/data/
core-customize/hybris/config/local.properties

classes/
testclasses/
gensrc/
eclipsebin/
idea-module-files/
.idea/
.metadata/
temp/
RemoteSystemsTempFiles/

**/jalo/*
